@using onion_architeture.Models
@model List<Contact>

<h1>Lista kontaktów</h1>
<a class="btn btn-primary" asp-controller="Contact" asp-action="Create">Dodaj kontakt</a>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Priority)
                </th>
                <th>
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Contact item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Priority.ToString() // Zmodyfikuj według potrzeb
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id=@item.Id>Edytuj</a>
                        <a asp-action="Details" asp-route-id=@item.Id>Szczegóły</a>
                        <a asp-action="Delete" asp-route-id=@item.Id>Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
